<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <h1>Hair Salon Manager</h1>
    <h2>Client: @Model.GetName()</h2>
    <h3>Details: </h3>
      <p> @Model.GetNotes() </p>

    <hr>
    <h5><a href="/modify/client/@Model.GetId()">Modify this Client</a></h5>
    <hr>
      <h5><a href="/add/client">New Client</a></h5>
      <h5><a href="/add/stylist">New Stylist</a></h5>
      <h5><a href="/">Home</a></h5><br>
      <form action="/delete-client/@Model.GetId()" method="post">
        <input hidden="true" name="_method" value="DELETE">
        <button class="btn btn-danger" type="submit">Delete this client</button>
      </form>
    </div>
