<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Hair Salon Manager</h1>
      @if (Model.Count > 0)
      {
        <h2>Stylists</h2>
        @foreach (var stylist in Model)
        {
          <h3><a href = "/stylist/@stylist.GetId()">@stylist.GetName()</a></h3>
          <ul>
          @foreach (var client in stylist.FindClients())
          {
            <li><a href="/clients/@client.GetId()">@client.GetName()</a></li>
          }
          </ul>
        }
        <hr>
          <h5><a href="/add/client">New Client</a></h5>
          <h5><a href="/add/stylist">New Stylist</a></h5><br>
          <form action="/delete-all" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger" type="submit" name="button">DELETE EVERYTHING!</button>
          </form>
      }else{
        <h5><a href="/add/stylist">New Stylist</a></h5><br>
      }
    </div>
