<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <h1>Hair Salon Manager</h1>
    <h2>New Stylist</h2><br>

      <form action="/add/stylist" method="post">
        <input class="form-control" type="text" name="stylist_name" placeholder="Enter new stylist">
        <input class="form-control" type="text" name="notes" placeholder="Enter stylist details">
        <button class="btn btn-info" type="submit">Create Stylist</button>
      </form>
    <h5><a href="/">Home</a></h5>
  </div>
